template(name="myProfile")
	if currentUser
		.panel.panel-default
			.panel-body
				if userHasQuestionsGroupsInProfile
					if notAnsweredQuestions
						h4 {{_ "youStillHave"}}
							span.badge #{notAnsweredQuestions}
							| {{_ "questionsToCompleteYourProfile"}}
							a.btn.btn-primary(role="button" href="{{pathFor 'answerQuestions'}}") {{_ "go"}}
					else
						h4 {{_ "congratsNoMoreQuestions"}}
						p {{_ "labelToAddQuestionsGroups"}}
				else
					p {{_ "labelToAddQuestionsGroups"}}
		.panel.panel-default
			.panel-heading
				h3 {{_ "yourProfileByUniverses"}}
			.panel-body
				each universes
					.col-xs-4.col-sm-3.col-md-2.col-lg-2.univers
						.circle.center-block #{value} %
						p.text-center #{_id}
		//.panel.panel-default
			.panel-heading
				h3 Vous n'êtes pas seul... d'autres personnes vous ressemble !
			.panel-body
				each universes
					.col-xs-4.col-sm-3.col-md-2.col-lg-2.univers
						.circle.center-block 100%
						p.text-center #{_id}
		.panel.panel-default
			.panel-heading
				h3 Groupe de questions disponibles
			.panel-body
				.row
					each questionsGroup
						.col-xs-12.col-sm-6.col-md-6.col-lg-6
							.panel.panel-default
								.panel-heading
									h4.panel-title #{title}
								.panel-body
									p #{label}
								.panel-footer
									a.center-block.addQuestionsGroupToUser.btn.btn-primary(role="button" href="#") Répondre aux questions !
					else
						.col-xs-12.col-sm-12.col-md-12.col-lg-12
							p {{_ "noMoreQuestionsGroupsAvailable"}}
	else
		.row
			.col-xs-12.col-sm-6.col-md-6.col-lg-6
				+signUp
			.col-xs-12.col-sm-6.col-md-6.col-lg-6
				+signIn