template(name="questions")
	.container
		div(class="#{level0}")
			+question0
		div(class="#{level1}")
			+question1
		div(class="#{level2}")
			+question2
		div(class="#{level3}")
			+question3
		div(class="#{level4}")
			+question4
		div(class="#{level5}")
			+question5