template(name="barometer")
	if Template.subscriptionsReady
		.container-fluid.grey2
			.container
				if surveyIsOver
					h3.text-center.text-uppercase {{_ "yourSurveyResult"}}
				else
					h3.text-center.text-uppercase {{_ "whenSurveyIsOverBarometer"}}
				with algoForPhrases
					p.text-center #{score}
					if phrase1
						p.text-justify Vous semblez avoir une bonne connaissance de vous-même - bravo -
						blockquote
							p Le plus grand voyageur n’est pas celui qui a fait dix fois le tour du monde, mais celui qui a fait une seule fois le tour de lui-même.
							footer Gandhi
					else
						p.text-justify.
							Vous devez gagner  en termes de connaissances de vos qualités et points de progression comportementaux  - si vous  souhaitez en apprendre plus sur vos qualités et vos points de progression nous vous conseillons de passer des  questionnaires ou tests de personnalité
					p.text-justify #{phrase2}
					p.text-justify #{phrase3}
					p.text-justify #{phrase4}
					p.text-justify #{phrase5}
					p.text-justify #{phrase6}
					if case10
						p.text-justify #{case10}
					if case11
						p.text-justify #{case11}
					if case12
						p.text-justify #{case12}
					if case13
						p.text-justify #{case13}
					if case14
						p.text-justify #{case14}
					if case15
						p.text-justify #{case15}
					if case16
						p.text-justify #{case16}
					if case17
						p.text-justify #{case17}
					if case18
						p.text-justify #{case18}
					if case19
						p.text-justify #{case19}
					if case20
						p.text-justify #{case20}
					if case21
						p.text-justify #{case21}
					if case22
						p.text-justify #{case22}
					if case23
						p.text-justify #{case23}
					if case24
						p.text-justify #{case24}
					if case25
						p.text-justify #{case25}
					if case26
						p.text-justify #{case26}
					if case27
						p.text-justify #{case27}
					if case28
						p.text-justify #{case28}
					if case29
						p.text-justify #{case29}
					if case30
						p.text-justify #{case30}
					if case31
						p.text-justify #{case31}
	else
		+spinner