template(name="editVolunteer")
	if Template.subscriptionsReady
		.container
			with volunteer
				.panel.panel-default
					.panel-heading
						h3 {{_ "volunteerEdition"}} : #{firstName} #{lastName}
					.panel-body
						.panel.panel-default
							.panel-body
								form
									.form-group
										label(for="volunteerFirstName") {{_ "firstName"}}
										input#volunteerFirstName.form-control(type="text" value="#{firstName}")
									.form-group
										label(for="volunteerLastName") {{_ "lastName"}}
										input#volunteerLastName.form-control(type="text" value="#{lastName}")
									.form-group
										label(for="volunteerFunctionInFete") {{_ "volunteerFunctionInFete"}}
										input#volunteerFunctionInFete.form-control(type="text" value="#{functionInFete}")
									.form-group
										label(for="volunteerPictureUrl") {{_ "volunteerPictureUrl"}}
										input#volunteerPictureUrl.form-control(type="text" value="#{pictureUrl}")
									.form-group
										label(for="volunteerLevel") {{_ "volunteerLevel"}}
										input#volunteerLevel.form-control(type="number" min="1" value="#{level}")
							.panel-footer
								.row
									.col-xs-6.col-sm-6.col-md-6.col-lg-6
										a.btn.btn-info.btn-block(role="button" href="{{pathFor 'listVolunteers'}}") {{_ "return"}}
									.col-xs-6.col-sm-6.col-md-6.col-lg-6
										button#save.btn.btn-success.btn-block {{_ "save"}}
	else
		+spinner