template(name="myProfile")
	if Template.subscriptionsReady
		.jumbotron.blue2
			h2.text-center.text-uppercase {{_ "myProfile"}}
		if currentUser
			.container-fluid
				.container
					if userHasQuestionsGroupsInProfile
						if notAnsweredQuestions
							h4.text-center.text-uppercase {{_ "youStillHave"}}
								span.badge #{notAnsweredQuestions}
								| {{_ "questionsToCompleteYourProfile"}}
							p.text-center
								a.btn.btn-eklore(role="button" href="{{pathFor 'answerQuestions'}}") {{_ "go"}}
						else
							h4.text-center.text-uppercase {{_ "congratsNoMoreQuestions"}}
							p.text-center {{_ "labelToAddQuestionsGroups"}}
					else
						h4.text-center.text-uppercase {{_ "labelToAddQuestionsGroups"}}
			.container-fluid.grey2.padd-bot-20
				.container
					h3.text-center.text-uppercase {{_ "questionsGroupsAvailable"}}
					.row(style="display:flex; flex-wrap: wrap;")
						each questionsGroupAvailable
							.col-xs-12.col-sm-6.col-md-6.col-lg-6(id="#{_id}")
								h4.text-center
									strong #{title}
								p.text-center
									a.addQuestionsGroupToUser.btn.btn-eklore(role="button" href="#") {{_ "answerQuestions"}}
						else
							.col-xs-12.col-sm-12.col-md-12.col-lg-12
								p.text-center {{_ "noMoreQuestionsGroupsAvailable"}}
			if alreadyAnsweredQuestions
				.container-fluid
					.container
						h3.text-center.text-uppercase {{_ "yourProfileByUniverses"}}
						.row(style="display:flex; flex-wrap: wrap;")
							each universes
								.col-xs-6.col-sm-4.col-md-3.col-lg-3.vcenter
									.circle.center-block(style="width: #{valueForCircle}px; height: #{valueForCircle}px;line-height: #{valueForCircle}px; background: #{universeData.color}") #{value}%
									p.text-center #{universeData.name}
						.row
							.col-xs-12.col-sm-12.col-md-6.col-lg-6
								p.text-center
									a.btn.btn-eklore.marg-20(role="button" href="{{pathFor 'myDay'}}") {{_ "seeMyDay"}}
							.col-xs-12.col-sm-12.col-md-6.col-lg-6
								p.text-center
									a.btn.btn-eklore.marg-20(role="button" href="{{pathFor 'seeUniverses'}}") {{_ "seeUniverses"}}
		else
			+connect
	else
		+spinner