template(name="myProfile")
	if Template.subscriptionsReady
		.page-header
			h1 {{_ "myProfile"}}
		if currentUser
			.panel.panel-default
				.panel-body
					if userHasQuestionsGroupsInProfile
						if notAnsweredQuestions
							p.lead {{_ "youStillHave"}}
								span.badge #{notAnsweredQuestions}
								| {{_ "questionsToCompleteYourProfile"}}
							a.btn.btn-primary(role="button" href="{{pathFor 'answerQuestions'}}") {{_ "go"}}
						else
							p.lead {{_ "congratsNoMoreQuestions"}}
							p {{_ "labelToAddQuestionsGroups"}}
					else
						p {{_ "labelToAddQuestionsGroups"}}
			if alreadyAnsweredQuestions
				.panel.panel-default
					.panel-heading
						p.panel-title {{_ "yourProfileByUniverses"}}
					.panel-body
						.row(style="display:flex; flex-wrap: wrap;")
							each universes
								.col-xs-6.col-sm-4.col-md-3.col-lg-3.vcenter
									.circle.center-block(style="width: #{valueForCircle}px; height: #{valueForCircle}px;line-height: #{valueForCircle}px; background: #{universeData.color}") #{value}%
									p.text-center #{universeData.name}
					.panel-footer
						a.btn.btn-primary(role="button" href="{{pathFor 'seeUniverses'}}") {{_ "seeUniverses"}}
			//.panel.panel-default
				.panel-heading
					h3 Vous n'êtes pas seul... d'autres personnes vous ressemble !
				.panel-body
					each universes
						.col-xs-4.col-sm-3.col-md-2.col-lg-2
							.circle.center-block 100%
							p.text-center #{_id}
			.panel.panel-default
				.panel-heading
					p.panel-title {{_ "questionsGroupsAvailable"}}
				.panel-body
					.row(style="display:flex; flex-wrap: wrap;")
						each questionsGroupAvailable
							.col-xs-12.col-sm-6.col-md-6.col-lg-6
								.panel.panel-default
									.panel-body
										p.lead #{title}
										p #{label}
										a.addQuestionsGroupToUser.btn.btn-primary(role="button" href="#") {{_ "answerQuestions"}}
						else
							.col-xs-12.col-sm-12.col-md-12.col-lg-12
								p {{_ "noMoreQuestionsGroupsAvailable"}}
		else
			+connect
	else
		+spinner