template(name="workshopDetails")
	if Template.subscriptionsReady
		with workshop
			.container-fluid.blue2
				.container
					h1.text-center.text-uppercase {{_ "discoverWorkshop"}}
					p.text-center
						a.btn.btn-eklore.marg-bot-10(role="button" target="blank" href="https://www.weezevent.com/festival-eklore-des-talents-et-de-l-emploi") {{_ "linkTicketing"}}
			.container
				h2.text-center.text-uppercase.marg-20 #{name}
				h4.text-center #{description}
				p.text-center
					strong {{_ "startDate"}} :
					| #{dateStart}
				p.text-center
					strong {{_ "endDate"}} :
					| #{dateEnd}
				p.text-center
					strong {{_ "peopleAreGoingToo"}} :
					| #{peopleToGoCount}
				+goToWorkshop
			.container-fluid.grey2.marg-top-20
				.container
					h3.text-center.text-uppercase {{_ "workshopSpeaker"}}
					.row(style="display:flex; flex-wrap: wrap;")
						each partners
							.col-xs-6.col-sm-6.col-md-3.col-lg3
								.thumbnail
									img(src="#{pictureUrl}")
									.caption
										if firstName
											h4.text-center #{firstName} #{lastName}
											if companyName
												p.text-center #{companyName}
										else
											h4.text-center  #{lastName}
											if companyName
												p.text-center #{companyName}
		.container.hidden-xs
			.row
				.col-xs-12.col-sm-12.col-md-12.col-lg-12
					.thumbnail
						img(src="/pictures/day_program_universes.png" alt="Programme de la journée pour chaque univers")
	else
		+spinner