template(name="workshopDetails")
	if Template.subscriptionsReady
		with workshop
			.jumbotron.blue2
				h3.text-center.text-uppercase {{_ "discoverWorkshop"}}
			.container
				h3.text-center.text-uppercase.marg-20
					strong #{name}
				h4.text-center #{description}
				p.text-center
					strong {{_ "startDate"}} :
					| #{dateStart}
				p.text-center
					strong {{_ "endDate"}} :
					| #{dateEnd}
				p.text-center
					strong {{_ "peopleAreGoingToo"}} :
					| #{peopleToGoCount}
				if currentUser
					if isUserAlreadyIn
						button.removeFromWorkshop.btn.btn-eklore-danger.center-block(type="button") {{_ "youdontWantToGo"}}
					else
						button.goToWorkshop.btn.btn-eklore.center-block(type="button") {{_ "doYouWantToGo"}}
			.container-fluid.grey2.marg-top-20
				.container
					h3.text-center.text-uppercase {{_ "workshopSpeaker"}}
					.row(style="display:flex; flex-wrap: wrap;")
						each partners
							.col-xs-6.col-sm-6.col-md-3.col-lg3
								.thumbnail
									img(src="#{pictureUrl}")
									.caption
										if firstName
											h4.text-center #{firstName} #{lastName}
											if companyName
												p.text-center #{companyName}
										else
											h4.text-center  #{lastName}
											if companyName
												p.text-center #{companyName}
	else
		+spinner