template(name="volunteers")
	if Template.subscriptionsReady
		.container-fluid.grey2
			.container
				h2.text-center.marg-bot-50.text-uppercase {{_ "volunteersLevel1"}}
				.row(style="display:flex; flex-wrap: wrap;")
					each volunteersListLevel1
						.col-xs-6.col-sm-4.col-md-3.col-lg-3
							.thumbnail
								img.partnerPicture(src="#{pictureUrl}" alt="#{firstName} #{lastName}")
								.caption
									h4.text-center #{firstName} #{lastName}
									p.text-center
										em #{functionInFete}
			p.text-center
				a.btn.btn-eklore.marg-bot-20(role="button" href="{{pathFor 'partners'}}") {{_ "seeAllOurPartners"}}
		.container
			h2.text-center.marg-bot-50.text-uppercase {{_ "volunteersLevel2"}}
			.row(style="display:flex; flex-wrap: wrap;")
				each volunteersListLevel10
					.col-xs-6.col-sm-4.col-md-2.col-lg-2
						.thumbnail
							img.partnerPicture(src="#{pictureUrl}" alt="#{firstName} #{lastName}")
							.caption
								h4.text-center #{firstName} #{lastName}
								p.text-center
									em #{functionInFete}
		.container-fluid.grey2
			.container
				h2.text-center.marg-bot-50.text-uppercase {{_ "volunteersLevel3"}}
				.row(style="display:flex; flex-wrap: wrap;")
					each volunteersListLevel99
						.col-xs-6.col-sm-4.col-md-2.col-lg-2
							.thumbnail
								img.partnerPicture(src="#{pictureUrl}" alt="#{firstName} #{lastName}")
								.caption
									h4.text-center #{firstName} #{lastName}
	else
		+spinner