template(name="editEkloreQuestion")
	.container
		.panel.panel-default
			.panel-heading
				h3 {{_ "questionEdition"}} : #{title}
			.panel-body
				.panel.panel-default
					.panel-body
						form
							.form-group
								label(for="ekloreQuestionTitle") {{_ "ekloreQuestionTitle"}}
								input#ekloreQuestionTitle.form-control(type="text" value="#{title}")
							.form-group
								label(for="ekloreQuestionLevel") {{_ "ekloreQuestionLevel"}}
								input#ekloreQuestionLevel.form-control(type="number" min="2" max="100" step="1" value="#{level}")
							.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									+editDeprecated
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									+editDisplayType
					.panel-footer
						.row
							.col-xs-12.col-sm-6.col-md-6.col-lg-6
								a.btn.btn-danger.btn-block(role="button" href="{{pathFor 'admin'}}") {{_ "cancel"}}
							.col-xs-12.col-sm-6.col-md-6.col-lg-6
								button#save.btn.btn-success.btn-block {{_ "save"}}
				.panel.panel-default
					.panel-heading
						h4.panel-title Choix
					.panel-body
						each choices
							.choices.panel.panel-default
								.panel-heading
									p.panel-title #{label}
								.panel-body
									form
										.form-group
											label(for="choiceLabel") {{_ "label"}}
											input.choiceLabel.form-control(type="text" value="#{label}")
									.panel.panel-default
										.panel-heading
											h4.panel-title Universes
										.panel-body
											.panel.panel-success
												.panel-heading
													h4.panel-title {{_ "universesLinkedWithEkloreQuestionChoice"}}
												.panel-body
													.row
														each universesLinked
															.col-xs-12.col-sm-6.col-md-6.col-lg-6
																+universesToRemoveFromEkloreQuestion
				.panel.panel-default
					.panel-heading
						h4.panel-title Universes
					.panel-body
						.panel.panel-success
							.panel-heading
								h4.panel-title {{_ "universesLinkedWithEkloreQuestion"}}
							.panel-body
								.row
									each universesLinked
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											+universesToRemoveFromEkloreQuestion
						.panel.panel-danger
							.panel-heading
								h4.panel-title {{_ "universesNotLinkedWithEkloreQuestion"}}
							.panel-body
								.row
									each universes
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											+universesToAddToEkloreQuestion
				.panel.panel-default
					.panel-heading
						h4.panel-title Workshops
					.panel-body
						.panel.panel-success
							.panel-heading
								h4.panel-title {{_ "workshopsLinkedWithEkloreQuestion"}}
							.panel-body
								.row
									each workshopsLinked
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											+workshopsToRemoveFromEkloreQuestion
						.panel.panel-danger
							.panel-heading
								h4.panel-title {{_ "workshopsNotLinkedWithEkloreQuestion"}}
							.panel-body
								.row
									each workshops
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											+workshopsToAddToEkloreQuestion
				if questionGroupId
					.panel.panel-success
						.panel-heading
							h4.panel-title Groupe de question lié à la question
						.panel-body
								with questionGroupData
									p #{title}
										button#removeQuestionGroupFromEkloreQuestion.btn.pull-rigth.btn-danger {{_ "remove"}}
				else
					.panel.panel-danger
						.panel-heading
							h4.panel-title Groupe de question disponibles
						.panel-body
							.row
								each questionsGroups
									.col-xs-12.col-sm-6.col-md-6.col-lg-6
										.panel.panel-default
											.panel-body
												p #{title}
													button.btn.linkToEkloreQuestion.pull-right.btn-success(type="submit") {{_ "linkToEkloreQuestion"}}