template(name="listPartners")
	if Template.subscriptionsReady
		.panel.panel-default
			#listPartners.panel-heading(role="tab")
				h3
					a(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsePartners" aria-expanded="true" aria-controls="collapsePartners") {{_ "partnersList"}}
						small {{_ "clickToDisplayOrHide"}}
			#collapsePartners.panel-collapse.collapse(role="tabpanel" aria-labelledby="listPartners")
				.panel-body
					.col-xs-12.col-sm-6.col-md-6.col-lg-6
						p {{_ "thereAre"}}
							span.badge #{partnersCount}
							| {{_ "partners"}}.
					.col-xs-12.col-sm-6.col-md-6.col-lg-6
						a.pull-right.btn.btn-primary(role="button" href="{{pathFor 'newPartner'}}") {{_ "addAPartner"}}
					if partnersCount
						.row
							each partners
								.col-xs-12.col-sm-6.col-md-4.col-lg-3
									.panel.panel-default
										.panel-heading
											if firstName
												p.panel-title #{firstName} #{lastName}
											else
												if lastName
													p.panel-title  #{lastName}
												else
													p.panel-title  #{companyName}
										.panel-body
											.thumbnail
												img.partnerPicture(src="#{pictureUrl}")
												.caption
													if companyName
														h4 #{companyName}
													a.btn.btn-info(role="button" href="{{pathFor 'editPartner'}}")
														span.glyphicon.glyphicon-edit(aria-hidden="true")
	else
		+spinner