template(name="listPartners")
	if Template.subscriptionsReady
		.panel.panel-default
			#listPartners.panel-heading(role="tab")
				h3
					a(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsePartners" aria-expanded="true" aria-controls="collapsePartners") {{_ "PartnersList"}}
						small {{_ "clickToDisplayOrHide"}}
			#collapsePartners.panel-collapse.collapse(role="tabpanel" aria-labelledby="listPartners")
				.panel-body
					.col-xs-12.col-sm-6.col-md-6.col-lg-6
						p {{_ "thereAre"}}
							span.badge #{partnersCount}
							| {{_ "questionsGroups"}}.
					.col-xs-12.col-sm-6.col-md-6.col-lg-6
						a.pull-right.btn.btn-primary(role="button" href="{{pathFor 'newPartner'}}") {{_ "addNewPartner"}}
					if partnersCount
						.row
							each partners
								.col-xs-12.col-sm-6.col-md-4.col-lg-3
									.panel.panel-default
										.panel-heading
											if firstName
												if companyName
													p.panel-title #{firstName} #{lastName}
														small #{companyName}
												else
													p.panel-title #{firstName} #{lastName}
											else
												if lastName
													if companyName
														p.panel-title  #{lastName}
															small #{companyName}
													else
														p.panel-title  #{lastName}
												else
													p.panel-title  #{companyName}
										.panel-body
											.thumbnail
												img(src="#{pictureUrl}")
												.caption
													a.btn.btn-info(role="button" href="{{pathFor 'editPartner'}}")
														span.glyphicon.glyphicon-edit(aria-hidden="true")
	else
		+spinner