template(name="home")
	if Template.subscriptionsReady
		.page-header
			h1 {{_ "fete"}}
				small {{_ "feteAcronym"}}
		.panel.panel-default
			.panel-heading
				p.panel-title {{_ "presentationFete"}}
			.panel-body
				.col-xs-12.col-sm-6.col-md6.col-lg-6
					p {{_ "feteDescription1"}}
					p {{_ "feteDescription2"}}
					p
						a.btn.btn-default(role="button" href="{{pathFor 'aboutFete'}}") {{_ "moreInfos"}}
						a.btn.btn-primary(role="button" href="{{pathFor 'aboutEklore'}}") {{_ "aboutEklore"}}
				.col-xs-12.col-sm-6.col-md6.col-lg-6
					.thumbnail
						img(src="/pictures/banniere.jpg" alt="{{_ 'feteAcronym'}}")
		a.btn.btn-primary.btn-block.seeUniverses(role="button" href="{{pathFor 'seeUniverses'}}") {{_ "seeUniverses"}}
		.panel.panel-default
			.panel-heading
				p.panel-title {{_ "localisationAndSchedule"}}
			.panel-body
				.col-xs-12.col-sm-6.col-md6.col-lg-6
					address
						strong {{_ "fete"}} {{_ "eklore"}}
						br
						| Cité des Métiers
						br
						| 30 Avenue Corentin Cariou
						br
						| 75019 Paris
					address
						strong {{_ "dateFete"}}
						br
						| {{_ "hourFete"}}
					address
						strong {{_ "contact"}}
						br
						a(href="mailto:contact@fete-eklore.fr") contact@fete-eklore.fr
					p
						a.btn.btn-primary(role="button" target="blank" href="https://www.weezevent.com/festival-eklore-des-talents-et-de-l-emploi") {{_ "linkTicketing"}}
				.col-xs-12.col-sm-6.col-md6.col-lg-6
					+map
		//if currentUser
			a.btn.btn-warning.btn-block(role="button" href="{{pathFor 'myProfile'}}") {{_ "completeYourProfile"}}
		//else
			a.btn.btn-primary.btn-block(role="button" href="{{pathFor 'myProfile'}}") {{_ "createYourProfile"}}
		.panel.panel-default.volunteers
			.panel-heading
				p.panel-title {{_ "volunteersLevel1"}}
			.panel-body
				.row(style="display:flex; flex-wrap: wrap;")
					each volunteersListLevel1
						.col-xs-6.col-sm-4.col-md-3.col-lg-3
							.thumbnail
								img.partnerPicture(src="#{pictureUrl}" alt="#{firstName} #{lastName}")
								.caption
									h4 #{firstName} #{lastName}
									em #{functionInFete}
		.panel.panel-default.volunteers
			.panel-heading
				p.panel-title {{_ "volunteersLevel2"}}
			.panel-body
				.row(style="display:flex; flex-wrap: wrap;")
					each volunteersListLevel10
						.col-xs-6.col-sm-4.col-md-2.col-lg-2
							.thumbnail
								img.partnerPicture(src="#{pictureUrl}" alt="#{firstName} #{lastName}")
								.caption
									h4 #{firstName} #{lastName}
									em #{functionInFete}
		.panel.panel-default.volunteers
			.panel-heading
				p.panel-title {{_ "volunteersLevel3"}}
			.panel-body
				.row(style="display:flex; flex-wrap: wrap;")
					each volunteersListLevel99
						.col-xs-6.col-sm-4.col-md-2.col-lg-2
							.thumbnail
								img.partnerPicture(src="#{pictureUrl}" alt="#{firstName} #{lastName}")
								.caption
									h4 #{firstName} #{lastName}
	else
		+spinner