template(name="header")
	nav.navbar.navbar-default.blue1
		.container
			.navbar-header
				button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#ekloreNavbar" aria-expended="false")
					span.sr-only {{_ "toggleNav"}}
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href="{{pathFor 'home'}}") {{_ "eklore"}}
			#ekloreNavbar.collapse.navbar-collapse
				ul.nav.navbar-nav
					li.hidden-xs(class="#{seeUniversesActive}")
						a(href="{{pathFor 'seeUniverses'}}") {{_ "universes"}}
					li.hidden-xs(class="#{myProfileActive}")
						a(href="{{pathFor 'myProfile'}}") {{_ "myProfile"}}
					li.hidden-xs(class="#{myDayActive}")
						a(href="{{pathFor 'myDay'}}") {{_ "myDay"}}
					li.visible-xs(class="#{seeUniversesActive}")
						a(href="{{pathFor 'seeUniverses'}}" data-toggle="collapse", data-target=".navbar-collapse") {{_ "universes"}}
					li.visible-xs(class="#{myProfileActive}")
						a(href="{{pathFor 'myProfile'}}" data-toggle="collapse", data-target=".navbar-collapse") {{_ "myProfile"}}
					li.visible-xs(class="#{myDayActive}")
						a(href="{{pathFor 'myDay'}}" data-toggle="collapse", data-target=".navbar-collapse") {{_ "myDay"}}
				.nav.navbar-nav.navbar-right
					+loginButtons