template(name = "seeUniverses")
	if Template.subscriptionsReady
		.container-fluid.blue2
			.container
				h1.text-center.text-uppercase {{_ "seeUniverses"}}
				p.text-center
					a.btn.btn-eklore.marg-bot-10(role="button" target="blank" href="https://www.weezevent.com/festival-eklore-des-talents-et-de-l-emploi") {{_ "linkTicketing"}}
		.container
			.row
				.col-xs-12.col-sm-12.col-md-12.col-lg-12
					.thumbnail
						img(src="/pictures/day_program_universes.png" alt="Programme de la journée pour chaque univers")
		each universes
			.container
				.thumbnail
					img(src="#{universeLogo}" alt="#{name}")
				.row
					each partners
						.col-xs-12.col-sm-12.col-md-8.col-lg-8.col-md-offset-2.col-lg-offset-2
							.thumbnail
								img.universePartnersPicture(src="#{pictureUrl}" alt="#{companyName}")
								.caption
									h3.text-center {{_ "universePartner"}} : #{companyName}
									p.text-center #{description}
									p.text-center
										a.btn.btn-eklore(href="#{website}" target="blank" role="button") {{_ "visitPartnerWebsite"}}
			.container-fluid.grey2
				.container
					h2.text-center.text-uppercase {{_ "workshopsLinkedWithUniverse"}}
					.row(style="display:flex; flex-wrap: wrap;")
						each workshops
							.marg-bot-20.col-xs-12.col-sm-6.col-md-6.col-lg-6
								h3.text-center #{name}
								p.text-center #{description}
								p.text-center
									strong {{_ "startDate"}} :
									| #{dateStart}
								p.text-center
									strong {{_ "endDate"}} :
									| #{dateEnd}
								p.text-center
									strong {{_ "peopleAreGoingToo"}} :
									| #{peopleToGoCount}
								.row
									.col-xs-12.col-sm-12.col-md-6.col-lg-6
										+goToWorkshop
									.col-xs-12.col-sm-12.col-md-6.col-lg-6
										p.text-center
											a.btn.btn-eklore(role="button" href="{{pathFor 'workshopDetails'}}") {{_ "moreInformations"}}
	else
		+spinner