template(name = "seeUniverses")
	if Template.subscriptionsReady
		.jumbotron.blue2
			h2.text-center.text-uppercase
				strong {{_ "seeUniverses"}}
		each universes
			.container
				h2.text-center.text-uppercase #{name}
				.thumbnail
					img(src="#{universeLogo}" alt="#{name}")
				.row
					each partners
						.col-xs-12.col-sm-12.col-md-8.col-lg-8.col-md-offset-2.col-lg-offset-2
							.thumbnail
								img.universePartnersPicture(src="#{pictureUrl}" alt="#{companyName}")
								.caption
									h3.text-center
										strong {{_ "universePartner"}} : #{companyName}
									p.text-center #{description}
									p.text-center
										a.btn.btn-eklore(href="#{website}" target="blank" role="button") {{_ "visitPartnerWebsite"}}
			.container-fluid.grey2
				.container
					h2.text-center.text-uppercase {{_ "workshopsLinkedWithUniverse"}}
					.row(style="display:flex; flex-wrap: wrap;")
						each workshops
							.marg-bot-20.col-xs-12.col-sm-6.col-md-6.col-lg-6
								h4.text-center
									strong #{name}
								p.text-center #{description}
								p.text-center {{_ "startDate"}} :
									span.label.label-default #{dateStart}
								p.text-center {{_ "endDate"}} :
									span.label.label-default #{dateEnd}
								p.text-center {{_ "peopleAreGoingToo"}}
									span.label.label-default #{peopleToGoCount}
								p.text-center
									a.btn.btn-eklore(role="button" href="{{pathFor 'workshopDetails'}}") {{_ "moreInformations"}}
	else
		+spinner