template(name = "seeUniverses")
	if Template.subscriptionsReady
		.page-header
			h1 {{_ "seeUniverses"}}
		each universes
			.panel.panel-default
				.panel-heading
					p.panel-title #{name}
				.panel-body
					.thumbnail
						img(src="#{universeLogo}" alt="#{name}")
					.row
						each partners
							.col-xs-12.col-sm-12.col-md-6.col-lg-6
								.thumbnail
									img.universePartnersPicture(src="#{pictureUrl}" alt="#{companyName}")
									.caption
										h3 {{_ "universePartner"}} : #{companyName}
										p #{description}
										p
											a.btn.btn-primary(href="#{website}" target="blank" role="button") {{_ "visitPartnerWebsite"}}
					.panel.panel-default
						.panel-heading
							p.panel-title {{_ "workshopsLinkedWithUniverse"}}
						.panel-body
							.row(style="display:flex; flex-wrap: wrap;")
								each workshops
									.col-xs-12.col-sm-6.col-md-6.col-lg-6
										.panel.panel-default
											.panel-body
												p.lead #{name}
												p #{description}
												.panel.panel-default
													.panel-body
														.row
															.col-xs-12.col-sm-6.col-md-6.col-lg-6
																p {{_ "startDate"}} :
																	span.label.label-default #{dateStart}
															.col-xs-12.col-sm-6.col-md-6.col-lg-6
																p {{_ "endDate"}} :
																	span.label.label-default #{dateEnd}
															.col-xs-12.col-sm-6.col-md-6.col-lg-6
																p
																	span.label.label-default #{peopleToGoCount}
																	| {{_ "peopleAreGoingToo"}}
												a.btn.btn-primary(role="button" href="{{pathFor 'workshopDetails'}}") {{_ "moreInformations"}}
	else
		+spinner