template(name = "seeUniverses")
	if Template.subscriptionsReady
		each universes
			.panel.panel-default
				.panel-heading
					p.panel-title #{name}
				.panel-body
					.row
						.col-xs-12.col-sm-12.col-md-6.col-lg-6
							p {{_ "description"}} : #{label}
							p {{_ "universeLocation"}} :
								strong #{location}
						.col-xs-12.col-sm-12.col-md-6.col-lg-6
							.thumbnail
								img(src="#{partnerLogo}" alt="#{partner}")
								.caption
									h3 #{partner}
									p #{partnerDescription}
									p
										a.btn.btn-primary(href="#{partnerWebsite}" target="blank" role="button") {{_ "visitPartnerWebsite"}}
					.panel.panel-default
						.panel-heading
							p.panel-title {{_ "workshopsLinkedWithUniverse"}}
						.panel-body
							.row
								each workshops
									.col-xs-12.col-sm-6.col-md-6.col-lg-6
										.panel.panel-default
											.panel-body
												p.lead #{name}
												p #{description}
												p {{_ "workshopSpeaker"}} :
													strong #{speaker}
												p {{_ "workshopFormat"}} : #{format}
												a.btn.btn-primary(role="button" href="{{pathFor 'workshopDetails'}}") {{_ "moreInformations"}}
	else
		+spinner