template(name="listUniverses")
	if Template.subscriptionsReady
		.panel.panel-default
			#listUniverses.panel-heading(role="tab")
				h3
					a(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseUniverses" aria-expanded="true" aria-controls="collapseUniverses") {{_ "universeList"}}
						small {{_ "clickToDisplayOrHide"}}
			#collapseUniverses.panel-collapse.collapse.in(role="tabpanel" aria-labelledby="listUniverses")
				.panel-body
					.col-xs-12.col-sm-6.col-md-6.col-lg-6
						p {{_ "thereAre"}}
							span.badge #{universesCount}
							| {{_ "universes"}}.
					.col-xs-12.col-sm-6.col-md-6.col-lg-6
						a.pull-right.btn.btn-primary(role="button" href="{{pathFor 'newUniverse'}}") {{_ "addNewUniverse"}}
					if universesCount
						table.table
							thead
								tr
									th #
									th {{_ "name"}}
									th {{_ "label"}}
									th {{_ "workshopsLinked"}}
									th {{_"actionEdit"}}
							tbody
								each universe
									tr
										td {{myIndex @index}}
										td #{name}
										td #{label}
										if workshopsLinked
											td
												a.btn.btn-success(role="button" href="#")
													strong #{workshopsLinked.length}
										else
											td
												a.btn.btn-danger(role="button" href="#")
													strong #{workshopsLinked.length}
										td
											a.btn.btn-info(role="button" href="{{pathFor 'editUniverse'}}")
												span.glyphicon.glyphicon-edit(aria-hidden="true")
	else
		+spinner