template(name="myDay")
	if Template.subscriptionsReady
		.container-fluid.blue2
			.container
				h1.text-center.text-uppercase {{_ "yourPersonalisedProgramForTheDay"}}
				p.text-center
					a.btn.btn-eklore.marg-bot-10(role="button" target="blank" href="https://www.weezevent.com/festival-eklore-des-talents-et-de-l-emploi") {{_ "linkTicketing"}}
		if currentUser
			.container
				.row
					.col-xs-12.col-sm-12.col-md-12.col-lg-12
						.thumbnail
							img(src="/pictures/day_program_full.png" alt="Programme de la journée")
			each customWorkshops
				.container-fluid.padd-top-20(class="{{workshopColor  @index}}")
					.container
						h2.text-center.text-uppercase #{workshopData.name}
						p.lead.text-center {{_ "yourMatchingRate"}} :
							strong #{value} %
						p.text-center #{workshopData.description}
						with workshopData
							p.text-center
								strong {{_ "startDate"}} :
								| #{dateStart}
							p.text-center
								strong {{_ "endDate"}} :
								| #{dateEnd}
							p.text-center
								strong {{_ "peopleAreGoingToo"}} :
								| #{peopleToGoCount}
						p.text-center
							.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									p.text-center
										with workshopData
											if isUserAlreadyIn
												button.removeFromWorkshop.btn.btn-eklore-danger.marg-bottom-20(type="button") {{_ "youdontWantToGo"}}
											else
												button.goToWorkshop.btn.btn-eklore.marg-bottom-20(type="button") {{_ "doYouWantToGo"}}
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									p.text-center
										a.btn.btn-eklore.marg-bottom-20(role="button" href="{{pathFor 'workshopDetails'}}") {{_ "moreInformations"}}
			else
				h3.text-center.text-uppercase {{_ "youNeedToCompleteYourProfile"}}
				p.text-center
					a.btn.btn-eklore(role="button" href="{{pathFor 'myProfile'}}") {{_ "go"}}
		else
			+connect
	else
		+spinner