template(name="myDay")
	if Template.subscriptionsReady
		.jumbotron.blue2
			h3.text-center.text-uppercase {{_ "yourPersonalisedProgramForTheDay"}}
		if currentUser
			each customWorkshops
				.container-fluid.padd-top-20(class="{{workshopColor  @index}}")
					.container
						h4.text-center.text-uppercase
							strong #{workshopData.name}
						p.lead.text-center {{_ "yourMatchingRate"}} :
							strong #{value} %
						p.text-center #{workshopData.description}
						with workshopData
							p.text-center
								strong {{_ "startDate"}} :
								| #{dateStart}
							p.text-center
								strong {{_ "endDate"}} :
								| #{dateEnd}
							p.text-center
								strong {{_ "peopleAreGoingToo"}} :
								| #{peopleToGoCount}
						p.text-center
							.row
								.col-xs-12.col-sm-12.col-md-6.col-lg-6
									p.text-center
										with workshopData
											if isUserAlreadyIn
												button.removeFromWorkshop.btn.btn-eklore-danger.marg-bottom-20(type="button") {{_ "youdontWantToGo"}}
											else
												button.goToWorkshop.btn.btn-eklore.marg-bottom-20(type="button") {{_ "doYouWantToGo"}}
								.col-xs-12.col-sm-12.col-md-6.col-lg-6
									p.text-center
										a.btn.btn-eklore.marg-bottom-20(role="button" href="{{pathFor 'workshopDetails'}}") {{_ "moreInformations"}}
			else
				p.lead {{_ "youNeedToCompleteYourProfile"}}
				a.btn.btn-warning(role="button" href="{{pathFor 'myProfile'}}") {{_ "go"}}
		else
			+connect
	else
		+spinner